<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">  
    <link rel="stylesheet" type="text/css" href="css/signin.css">  
</head>
<body class="text-center">
    <main class="form-signin">
        <form action="/sign_up" method="post">
            <h1 class="h3 mb-3 fw-normal">Registro de usuario</h1>
            <label for="inputNombre" class="visually-hidden"></label>
            <input type="text" name="inputNombre" id="inputNombre" class="form-control" placeholder="Nombre" required="" autofocus="">
            <label for="inputApellido" class="visually-hidden"></label>
            <input type="text" name="inputApellido" id="inputApellido" class="form-control" placeholder="Apellido" required="">
            <label for="inputEmail" class="visually-hidden"></label>
            <input type="email" name="inputEmail" id="inputEmail" class="form-control" placeholder="Correo electrónico" required="">
            <label for="inputPassword" class="visually-hidden"></label>
            <input type="password" name="inputPassword" id="inputPassword" class="form-control" placeholder="Contraseña" required="">
            <label for="inputConfPass" class="visually-hidden"></label>
            <input type="password" name="inputConfPass" id="inputConfPass" class="form-control" placeholder="Confirmar Contraseña" required="">

            <button class="w-100 btn btn-lg btn-primary" type="submit" id="submitDetails"  
            name="submitDetails" value="Submit" >Continuar</button>
        </form>
    </main>
</body>
</html>